<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>İletişime Geç</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">

        .jumbotron {
            background: #358CCE;
            color: #ffffff;
            border-radius: 0px;
        }

        .jumbotron-sm {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .jumbotron small {
            color: white;
        }

        .h1 small {
            font-size: 24px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Bilecik Şeyh Edebali Üniversitesi
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Adınız
                                    </label>
                                    <input type="text" class="form-control" id="name" placeholder="Adınızı Giriniz" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Mail Adresiniz
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" id="email" placeholder="Mail Adresinizi Giriniz" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Konu
                                    </label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Birini Seçiniz:</option>
                                        <option value="service">Genel Problemler</option>
                                        <option value="suggestions">Öneriler</option>
                                        <option value="product">Teknik Sorun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Mesajınız
                                    </label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="Mesajınızı Giriniz"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Mesajı Gönder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <form>
                    <span class="glyphicon glyphicon-globe"></span>&nbsp;Üniversite Adres Bilgileri
                    <address>
                        <strong>BŞEÜ, Bilecik.</strong><br>
                        Bilecik Caddesi<br>
                        Bilecik, 94107<br>
                        <abbr title="Phone">
                            Telefon:
                        </abbr>
                        (123) 456-7890
                    </address>
                    <address>
                        <abbr>
                            Site Yöneticisi :
                        </abbr>
                        <strong>Meryem Ay</strong><br>
                        <a href="mailto:#">meryemay0@gmail.com</a>
                    </address>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript"></script>
</body>
</html>
