<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <title>Kurs Ekle</title>
</head>
<body>
    <!--<h1>Single</h1>
    <input type="file">
    <br>

    <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" /></span>
        <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
    </div>-->

    <form class="md-form">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Seçiniz</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Dosya yükle">
            </div>
        </div>
    </form>

    <form class="md-form" action="#">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose files</span>
                <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Birden çok dosya yükle">
            </div>
        </div>
    </form>

</body>
</html>

